body {
	display: block;
    margin: 8px;
}

* {
	box-sizing: border-box;
	font-family:sans-serif;
}

h1 {
	font-size: 175%;
	text-align: center;
	background-color: green;
}

div.menu {
	width: 100%;
	display: block;
}

div.menu-item {
	width: 33.33%;
	float: left;
}

section {
	margin: 10px;
	background-color: grey;
	overflow-y: hidden;
	position: relative;
	border: 1px solid black;
}

article {
	margin: 40px 15px 15px 15px;
}

span {
	position: absolute;
	right: 0px;
	width: 30%;
	text-align: right;
	padding-right: 10px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#kovbasa {
	background-color: red;
}

#maslo {
	background-color: blue;
}

#jija {
	background-color: yellow;
}

@media (min-width: 768px) and (max-width: 991px) {
	div.item1 {
		width: 50%;
	}
	div.item2 {
		width: 100%;
	}
}

@media (max-width: 767px) {
		div.menu-item {
		width: 100%;
	}
}
