body {
	display: block;
	
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 175%;
	text-align: center;
	background-color: green;
}

article {
	margin: 35px 3px 3px 3px;
}

.menu-item {
	display: block;
	position: relative;
	margin: 10px;
	padding: 5px;
	border: 1px solid;
	border-color: red;
	background-color: grey;
	width: 32%;
	height: 200px;
	float: right;
	overflow-y: hidden;
}

.menu-header {
	font-size: 125%;
	position: absolute;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-color: red;
	right: 0px;
	padding: 3px;
	background-color: wheat;
	width: auto;
	font-weight: bold;
}

#kovbasa {
	background-color: pink;
}

#maslo {
	background-color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
	.item1 {
		width: 50%;
	}
	.item2 {
		width: 100%;
	}
}

@media (max-width: 767px) {
		.menu-item {
		width: 100%;
	}
}
